#table1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }.footer {
    position: relative;
    bottom: -300px;


  }#stats{
    width: 42px; 
   height: 42px;


  }


  
