#navbar-child-1{
    opacity: 90%;
    font-size: 13px;
    left: 7%;
}

#navbar-child-2{
    opacity: 90%;
    font-size: 13px;
    left: 7%;
}

#navbar-child-3{
    opacity: 90%;
    font-size: 13px;
    left: 7%;
}

#navbar-child-4{
    opacity: 90%;
    font-size: 13px;
    left: 7%;
}