body{
    font-size:15px;
    line-height: 1.52;
     color: #717f86;
     font-family: 'open', sans-serif;
     font-weight: 400;
     overflow-x: hidden;
}

.section-padding{
    padding:60px 0px;
}

.gyldne-meny{
    margin-bottom:
    35px;
}

.header-h{
    font-size: 35px;
    color: #04AA6D;
    font-family:'Satisfy', sans-serif;
    font-weight: 300;
}

.pizzameny-resturant{
    width: 50%;
    float:left;
    padding: 15px;
    position: relative;
}

.pizzameny-resturant .menu-title{
float:left;
    font-family: Monserrat, arial;
    text-transform:uppercase;
    letter-spacing: 1px;
    color:#FFB03B;
}
.pizzameny-resturant .menu-line{
    position: absolute;
    bottom: 6px;
    border-bottom: 1px dotted rgba(0,0,0,.3);
    margin-left: .6rem;
    margin-right: .6rem;
}

.pizzameny-resturant .menu-price{
    font-weight: 600;
    position: absolute;
    right: 0;
    top: 0;
}

.pizzameny-resturant .menu-subtitle{
    display: block;
    float: left;
    color: #B1B1B1;
    font-size: 1.2rem;
}

.pizzameny-resturant span.clearfix{
    position: relative;
    display: block;
}




.drinkmeny-resturant{
    width: 50%;
    float:left;
    padding: 15px;
    position: relative;
}

.drinkmeny-resturant .menu-title{
float:left;
    font-family: Monserrat, arial;
    text-transform:uppercase;
    letter-spacing: 1px;
    color: #FFB03B;
}

.drinkmeny-resturant .menu-line{
    position: absolute;
    bottom: 6px;
    border-bottom: 1px dotted rgba(0,0,0,.3);
    margin-left: .6rem;
    margin-right: .6rem;
}

.drinkmeny-resturant .menu-price{
    font-weight: 600;
    position: absolute;
    right: 0;
    top: 0;
}

.drinkmeny-resturant span.clearfix{
    position: relative;
    display: block;
}






.extras-resturant{
    width: 50%;
    float:left;
    padding: 15px;
    position: relative;
}

.extras-resturant .menu-title{
float:left;
    font-family: Monserrat, arial;
    text-transform:uppercase;
    letter-spacing: 1px;
    color: #FFB03B;
}

.extras-resturant .menu-line{
    position: absolute;
    bottom: 6px;
    border-bottom: 1px dotted rgba(0,0,0,.3);
    margin-left: .6rem;
    margin-right: .6rem;
}

.extras-resturant .menu-price{
    font-weight: 600;
    position: absolute;
    right: 0;
    top: 0;
}

.extras-resturant span.clearfix{
    position: relative;
    display: block;
}
