.header {
  color: #070706;
  text-align: left;
  margin-top: 10px;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 60px;
  width: 40%;
  transition: 1s;
}

.btn-group button {
  background-color: #04AA6D; /* Bakrunn på knapp*/
  border: 2px solid black; /* kant rundt knapp */
  font-family: sans-serif; 
  font-weight: 300;
  font-size: 30px;
  color: white; /* farge på tekst i knapp, men ble blå av link??? */
  padding: 30px 24px; /* padding */
  cursor: pointer; /* mus blir til en hånd */
  float: center; /* knapper ved siden av hverandre */
}


/* Clear floats */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Bakgrunnsfarge på hover */
.btn-group button:hover {
  background-color: #c0c0ba;
}
