<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Restauranter</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="../css/cards.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

  </head>

  <body>

 <!--START NAVBAR-->

 <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="mainMenu.html">
        <img src="images/Gyldne_pizza1.png" width="120" height="28">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbar" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Mer
            </a>
    
            <div class="navbar-dropdown">
              <a class="navbar-item" href="employees.html">
                Ansatte 
              </a>

              <hr class="navbar-divider">
              <a class="navbar-item" href="restaurants.html">
                Restauranter
              </a>
              <a id="navbar-child-1" class="navbar-item" href="restaurant-oslo.html">
                Oslo
              </a>
              <a id="navbar-child-2" class="navbar-item" href="restaurant-bergen.html">
                Bergen
              </a>
              <a id="navbar-child-3" class="navbar-item" href="restaurant-moss.html">
                Moss
              </a>
              <a id="navbar-child-4" class="navbar-item" href="restaurant-hadeland.html">
                Hadeland
              </a>

              <hr class="navbar-divider">
              <a class="navbar-item" href="pizzameny.html">
                Pizzameny
              </a>

              <hr class="navbar-divider">
              <a class="navbar-item" href="http://127.0.0.1:5501/accountingAllrestaurants.html">
                Regnskap
              </a>
            </div>
        </div>
  
        
      </div>
  
      <div class="navbar-end">
        <a class="navbar-item" href="employees.html">
            Ansatte
          </a>

          <a class="navbar-item" href="restaurants.html">
              Restauranter
            </a>

            <a class="navbar-item" href="pizzameny.html">
              Pizzameny
            </a>

            <a class="navbar-item" href="http://127.0.0.1:5501/accountingAllrestaurants.html">
              Regnskap
            </a>
      </div>
    </div>
    <div class="navbar-item">
      <div class="buttons">
        <a id="logg-ut-btn" class="button is-danger" href="login.html">
          <strong>Logg ut</strong>
        </a>
      </div>
    </div>
  </nav>
    <!--END NAVBAR-->


    <div class="container">
    <div class="section">
    <div class="row">
    <div class="column">
    <div class="row column is-multiline">
    <div class="container" id="Oslo">
      <div class="section">
        <div id="app" class="row columns is-multiline">
            <!--    Oslo    -->
          <div v-for="card in cardData" key="card.id" class="column is-4">
            <div class="card large">
              <div class="card-image">
                <figure class="image is-12by8">
                  <img src="images/oslo.jpg" alt="Oslo">
                </figure>
              </div>
              <div class="Resturaunt">
                <div class="media">
                  <div class="resturaunt-Oslo">
                    <a class="title is-4 no-padding" href="oslo.html">Oslo</a><br>
                    <a href="employees.html">Ansatte</a>
                </div>
            </div>
                </div>
              </div>
            </div>

            <!--  Bergen  -->
            <div v-for="card in cardData" key="card.id" class="column is-4">
                <div class="card large">
                  <div class="card-image">
                    <figure class="image is-12by8">
                      <img src="images/bergen.jpg" alt="Image">
                    </figure>
                  </div>
                  <div class="Resturaunt">
                    <div class="media">
                      <div class="resturaunt-Oslo">
                        <a class="title is-4 no-padding" href="bergen.html">Bergen</a><br>
                        <a href="employees.html">Ansatte</a>
                    </div>
                </div>
                    </div>
                  </div>
                </div>
                <!--    Moss    -->
                <div v-for="card in cardData" key="card.id" class="column is-4">
                    <div class="card large">
                      <div class="card-image">
                        <figure class="image is-12by8">
                          <img src="images/moss.png" alt="Moss" href="moss.html">
                        </figure>
                      </div>
                      <div class="Resturaunt">
                        <div class="media">
                          <div class="resturaunt-Oslo">
                            <a class="title is-4 no-padding" href="moss.html">Moss</a><br>
                            <a href="employees.html">Ansatte</a>
                        </div>
                    </div>
                        </div>
                      </div>
                    </div>
                    <!--  Hadeland    -->
                    <div v-for="card in cardData" key="card.id" class="column is-4">
                        <div class="card large">
                          <div class="card-image">
                            <figure class="image is-12by8">
                              <img src="images/hadeland.jpg" alt="Hadeland">
                            </figure>
                          </div>
                          <div class="Resturaunt">
                            <div class="media">
                              <div class="resturaunt-Oslo">
                                <a class="title is-4 no-padding" href="hadeland.html">Hadeland</a><br>
                                <a href="employees.html">Ansatte</a>
                            </div>
                        </div>
                            </div>
                          </div>
                        </div>
          </div>
        </div>
    </div>
        </div>
    </div>
</div>
</div>
</div>
 <!--START FOOTER-->

 <footer class="footer">
    <div id="footer-div" class="content has-text-centered">
      <p>
        <strong>Gyldne pizza's</strong> source code fount at <a href="https://github.com/Eirik-lab/PRO-104"target="_blank">@eirik/github</a>.
      </p>
    </div>
  </footer>

  <!--END FOOTER-->

    <script src="../js/cardsData.js"></script>

    <!-- Using Vue to populate cards to reduce redundant code -->
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          cardData: cardsData
        }
      })

    </script>
    <style>
       


    </style>
</body>

</html>